h1, h3, h6{
    padding-left: 50px;
}
h1{
    color: #008080;
}

h3, h6, hr{
    color: #004444
}

.box {
    width: 280px;
    height: 130px;
    position: absolute;
}
.line {
    width: 1px;
    background-color: #004444;
    position: absolute;
}

img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;

}

p{
    position: inherit;
    text-align: center;
    top: 25%;    
    font-size: 20px;
    width: 100%;
    color: #004444
    
}
button{
    background-color: white; 
    color: teal; 
    border: 1px solid teal;
    position: inherit;
    bottom: 0;
    font-size: 20px;
    width: 280px;
    height: 40px;


}

button:hover{
    cursor: pointer;
    background-color: teal;
    color: white;

}

#box1 {
    top: 143px;
    left: 65px;
}
#box2 {
    left: 450px;
    
}
#box3 {
    left: 800px;
    
}
#box4 {
    top: 290px;
    left: 450px;
    
}
#box5 {
    top: 290px;
    left: 800px;
    
}
#line1 {
    top: 227px;
    left: 364px;
    height: 40px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
#line2 {
    top: 108px;
    left: 384px;
    height: 139px;
}
#line3 {
    top: 75px;
    left: 417px;
    height: 67px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
#line4 { 
    top: 75px;
    left: 764px;
    height: 71px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

#line5 {
    top: 240px;
    left: 364px;
    height: 40px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
#line6 {
    top: 260px;
    left: 384px;
    height: 139px;
}
#line7 {
    top: 365px;
    left: 417px;
    height: 67px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
#line8 { 
    top: 365px;
    left: 764px;
    height: 71px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}