.box {
    width: 280px;
    height: 130px;
    position: absolute;
}
.line {
    width: 1px;
    background-color: black;
    position: absolute;
}

img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;

}

p{
    position: inherit;
    text-align: center;
    top: 25%;    
    font-size: 20px;
    width: 100%;
    
}
button{
    background-color: white; 
    color: #4CAF50; 
    border: 1px solid #4CAF50;
    position: inherit;
    bottom: 0;
    font-size: 20px;
    width: 280px;
    height: 40px;


}

button:hover{
    cursor: pointer;
    background-color: #4CAF50;
    color: white;

}

#box1 {
    top: 220px;
    left: 65px;
}
#box2 {
    top: 70px;
    left: 450px;
    
}
#box3 {
    top: 70px;
    left: 800px;
    
}
#box4 {
    top: 380px;
    left: 450px;
    
}
#box5 {
    top: 380px;
    left: 800px;
    
}
#line1 {
    top: 300.4px;
    left: 364px;
    height: 40px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
#line2 {
    top: 182px;
    left: 384px;
    height: 139px;
}
#line3 {
    top: 148px;
    left: 417px;
    height: 67px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
#line4 { 
    top: 147px;
    left: 764px;
    height: 71px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

#line5 {
    top: 320px;
    left: 364px;
    height: 40px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
#line6 {
    top: 340px;
    left: 384px;;
    height: 150px;
}
#line7 {
    top: 455px;
    left: 417px;
    height: 67px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
#line8 { 
    top: 453px;
    left: 764px;
    height: 71px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}